<div class="content">
	<div class="col-sm-5 profileInfo">
			<h1>Chis</h1>
			<h1 align="right">Johnson</h1>

			<p class="tagline">Some awesome tagline about you</p>
			<br/>
			<p class="loremIpsum">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi elit velit, faucibus vel sem lobortis, dignissim facilisis urna. Aliquam egestas dolor et vestibulum sagittis. Aenean in sagittis enim, in rhoncus turpis. Duis ac nisl aliquam, porttitor odio in, ullamcorper tellus. Donec pharetra vitae nulla et accumsan. </br>
			</br>
			accumsan ex turpis, eget molestie purus ullamcorper a. Aenean varius, neque vitae ornare ultricies, mauris dui efficitur risus, eget euismod lorem odio vitae dolor.</p>
<div class="imageContainer">


	</div>
	
	<div class="col-sm-7">
		
	</div>
</div>

https://jsfiddle.net/martin_/to0mf32L/