<div class="content">
			<div class="col-sm-5">
				<div class="welcome">Welcome to
					<span style="color: #00FFE9">DevMountain</span> Social
					<br/> Add Some Info So Friends Can Find You
				</div>

				<!--<input class="form-control" placeholder="Search Name" ng-model="searchTerm.name">-->
				<div class="fullName">
					<input class="form-control" placeholder="Full Name" ng-model="user.name">
					<br/>
					<input class="form-control" placeholder="Tagline" ng-model="user.tagline">
					<br/>
					<input class="form-control" placeholder="Profile Image Url" ng-model="user.profileImage">
					<br/>
					<textarea class="form-control" placeholder="Bio" ng-model="user.bio" rows="8"></textarea>
				</div>
				<div class="saveChanges" ng-click="saveUser(user)">Save Changes</div>

			</div>
			<div class="col-sm-7">
				<div class="pictures">
 					<img class="backgroundTriangle" src="//:0">
					<img class="backgroundTrianglePic" src="https://s-media-cache-ak0.pinimg.com/736x/9d/20/8d/9d208df32bb1077d143045257c6466d0--super-heros-xmen.jpg">
					<img class="foregroundTriangle" src="//:0">
					<img class="foregroundTrianglePic" src="//:0">
				</div>
			</div>
		</div>